<!DOCTYPE html>
<html lang="en" ng-app="Manager" ng-csp>

<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <style>
    .ng-hide {
        display: none !important;
    }
    html {
        border: 0;
    }
    body {
        background: #fff;
        width: 600px;
        height: 700px;
        margin: 0 auto;
        padding-left: 30px !important;
    }
    .form-control {
        width: 200px !important;
        display: inline-block;
    }
    .table {
        width: 570px !important;
    }
    h4 {
        margin-top: 0;
        display: inline-block;
        margin-bottom: 0;
    }
    .header {
        position: fixed;
        display: block;
        width: 100%;
        background: white;
    }
    </style>
</head>
<script src="/js/angular.min.js"></script>
<script src="/js/manager.js"></script>

<body class="panel" ng-controller="ManagerOnDuty" ng-init="search.type='extension';predicate='name'">
    <div class="row">
        <span class="left">
            <h2 style="display:inline-block">
                <img src="/icons/manager.png" alt="">
            </h2>
        </span>
        <span class="right">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a ng-show="mode != 'GOD'" href="" ng-click="godMode()" data-tooltip="Disable All Extensions/Apps">
                <span class="glyphicon glyphicon-fire"></span>
                God Mode
            </a>
            <a ng-show="mode == 'GOD'" href="" ng-click="normalMode()" data-tooltip="Restore profile">
                <span class="glyphicon glyphicon-user"></span>
                Normal Mode
            </a>
        </span>
    </div>
    <hr>
    <div class="row">
        <form class="form-inline" role="form">
            <input id="search" placeholder="Search" class="form-control" type="text" ng-model="search.$">
            <select class="form-control" name="" id="" ng-model="search.type">
                <option value="">All</option>
                <option value="extension">extension</option>
                <option value="hosted_app">hosted_app</option>
                <option value="packaged_app">packaged_app</option>
                <option value="legacy_packaged_app">legacy_packaged_app</option>
                <option value="theme">theme</option>
            </select>
            <span class="right">
                <h3 style="display:inline">
                    <span class="label label-primary">
                        {{filtered.length}} of total {{extensions.length}}
                    </span>
                </h3>
            </span>
        </form>
        <br>
        <h2 ng-show="!filtered.length">No Results</h2>
        <table ng-show="filtered.length" class="table ">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="predicate='name'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </a>
                        Name
                        <a href="" ng-click="predicate='-name'">
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="predicate='-enabled'">Enabled</a>
                        <a href="" ng-click="predicate='enabled'">(^)</a>
                    </th>
                    <th><a href="" style="cursor:default;text-decoration:none"> Controls</a>
                    </th>
                </tr>
            </thead>
            <caption>
            </caption>
            <tbody>
                <tr ng-repeat="extension in filtered = (extensions | filter:search) | orderBy:predicate">
                    <td>
                        <!-- <a target="_blank" ng-href="chrome://extensions/?id={{extension.id}}"> -->
                        <span class="tooltip-right" data-tooltip="{{getPersmissionList(extension)}}">{{extension.name}} ({{extension.permissions.length}})</span>
                        <!-- </a> -->
                    </td>

                    <td>
                        <a href="" ng-click="onOff(extension)">
                            <h4 ng-show="extension.enabled" class="glyphicon glyphicon-eye-open"></h4>
                            <h4 ng-show="!extension.enabled" class="glyphicon glyphicon-eye-close color-disabled"></h4>
                        </a>
                    </td>
                    <td>
                        <a href="" ng-click="uninstall(extension)">
                            <h4 class="glyphicon glyphicon-trash"></h4>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
